In [ ]:
Q1

A database is a collection of data that is organized so that it can be easily accessed, managed, and updated. Databases are used to store all sorts of data, from customer records to product inventory to financial information.
There are two main types of databases: SQL databases and NoSQL databases.
SQL databases are relational databases that use Structured Query Language (SQL) to manage data. SQL is a declarative language, which means that you specify what you want to do with the data, rather than how to do it. SQL databases are good for storing structured data, such as customer records or product inventory.
NoSQL databases are non-relational databases that do not use SQL. NoSQL databases are more flexible than SQL databases and can be used to store a wider variety of data, such as unstructured data, such as text or images. NoSQL databases are also better suited for handling large amounts of data.

In [ ]:
Q2

Data Definition Language (DDL) is a set of commands used to define the structure of a database. It is used to create, alter, and drop tables, views, indexes, and other database objects.
The four most common DDL commands are:
CREATE: This command is used to create a new database object, such as a table or view. For example, the following command creates a table called customers:
CREATE TABLE customers (
  id INT NOT NULL AUTO_INCREMENT,
  name VARCHAR(255),
  email VARCHAR(255),
  PRIMARY KEY (id)
);
DROP: This command is used to delete a database object. For example, the following command drops the customers table:
DROP TABLE customers;
ALTER: This command is used to modify a database object. For example, the following command adds a new column to the customers table:
ALTER TABLE customers ADD COLUMN phone_number VARCHAR(255);
TRUNCATE: This command is used to delete all rows from a table, but the table structure is retained. For example, the following command truncates the customers table:
SQL
TRUNCATE TABLE customers;

In [ ]:
Q3

Data Manipulation Language (DML) is a set of commands used to manipulate data in a database. It is used to insert, update, delete, and select data from tables.
The three most common DML commands are:
INSERT: This command is used to insert new rows into a table. For example, the following command inserts a new row into the customers table:
INSERT INTO customers (name, email) VALUES ('John Doe', 'johndoe@example.com');
UPDATE: This command is used to update existing rows in a table. For example, the following command updates the email address for the customer named John Doe:
UPDATE customers SET email = 'johndoe@gmail.com' WHERE name = 'John Doe';
DELETE: This command is used to delete rows from a table. For example, the following command deletes the row for the customer named John Doe:
DELETE FROM customers WHERE name = 'John Doe';

In [ ]:
Q4

Data Query Language (DQL) is a set of commands used to retrieve data from a database. It is used to select, project, and filter data from tables.
The most common DQL command is the SELECT command. The SELECT command is used to select rows from a table. The syntax for the SELECT command is:
SELECT <columns> FROM <table>;
The <columns> clause specifies the columns that you want to select. The <table> clause specifies the table that you want to select the data from.
For example, the following SELECT command selects the name and email columns from the customers table:
SELECT name, email FROM customers;
The SELECT command can also be used to filter the data that is returned. The WHERE clause is used to filter the data. The syntax for the WHERE clause is:
WHERE <condition>;

In [ ]:
Q5

A primary key is a column or group of columns in a table that uniquely identifies each row in the table. A foreign key is a column or group of columns in a table that refers to the primary key of another table.
Primary keys and foreign keys are used to enforce referential integrity, which is a set of rules that ensures that the data in related tables is consistent.
Here are some of the key differences between primary keys and foreign keys:
A primary key is always unique, while a foreign key can be non-unique.
A primary key cannot be null, while a foreign key can be null.
A primary key is defined on a table, while a foreign key is defined on a column.
Here is an example of a table with a primary key and a foreign key:
CREATE TABLE customers (
  id INT NOT NULL AUTO_INCREMENT,
  name VARCHAR(255) NOT NULL,
  email VARCHAR(255) NOT NULL,
  PRIMARY KEY (id)
);

CREATE TABLE orders (
  id INT NOT NULL AUTO_INCREMENT,
  customer_id INT NOT NULL,
  order_date DATETIME NOT NULL,
  total_amount DECIMAL(10,2) NOT NULL,
  PRIMARY KEY (id),
  FOREIGN KEY (customer_id) REFERENCES customers (id)
);

In [ ]:
Q6

In [ ]:
import mysql.connector
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='password',
    database='my_database'
)
cursor = conn.cursor()
cursor.execute('SELECT * FROM customers')
results = cursor.fetchall()
for row in results:
    print(row)
cursor.close()
conn.close()
#cursor() method is used to create a cursor object. A cursor object is like a pointer to the database. It allows you to execute queries and fetch results from the database.
#The execute() method is used to execute a query. The execute() method takes a string as its argument. The string is the SQL query that you want to execute.

In [ ]:
Q7

FROM: The FROM clause specifies the tables that the query will be executed on.
WHERE: The WHERE clause specifies the conditions that the rows must meet in order to be included in the results.
GROUP BY: The GROUP BY clause groups the rows together based on the values in a particular column.
HAVING: The HAVING clause specifies the conditions that the groups must meet in order to be included in the results.
SELECT: The SELECT clause specifies the columns that the query will return.
ORDER BY: The ORDER BY clause specifies the order in which the rows will be returned.
LIMIT: The LIMIT clause specifies the number of rows that will be returned.
The FROM clause must always be the first clause in an SQL query. The WHERE clause, GROUP BY clause, HAVING clause, SELECT clause, ORDER BY clause, and LIMIT clause can be in any order, but the WHERE clause must come before the GROUP BY clause, and the HAVING clause must come before the ORDER BY clause